* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  width: 95%;
  height: 60px;
  margin: 40px auto 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
}

.left__header {
  width: 50%;
  display: flex;
  align-items: center;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-left: 15px;
}

.nav__links a {
  text-decoration: none;
  color: #32302e;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.2s ease 0s;
}

a:hover {
  color: #7e9493;
}

.nav__links li {
  display: inline-block;
  margin-right: 45px;
}

.active {
  color: #57b2ae !important;
}

.btn__trial,
.btn__login {
  height: 35px;
  border-radius: 8px;
  color: white;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.btn__trial {
  width: 140px;
  background-color: #ff0c7d;
}

.btn__login {
  width: 100px;
  background-color: #57b2ae;
  margin-left: 27px;
}

/* Main header */

main {
  margin-top: 115px;
  text-align: center;
  font-weight: 400;
}

main h1 {
  font-size: 36px;
}

main p {
  margin-top: 24px;
  font-size: 24px;
}

.main__img {
  margin-top: 114px;
}

/* Info */

.info {
  height: 379px;
  margin-top: 100px;
  background-color: #d9fdfb;
}

.info p {
  padding-top: 90px;
  text-align: center;
  width: 340px;
  margin: auto;
  font-size: 24px;
  font-weight: 400;
}

/* Search section */

.search {
  margin: 87px auto 0;
  width: 1071px;
  height: 223px;
  background-color: #e4ecf3;
}

.search .title {
  text-align: center;
  padding-top: 60px;
  font-size: 24px;
}

.input__block {
  margin: 32px auto 0;
  width: 541px;
  display: flex;
  align-items: center;
}

.input__block input {
  width: 100%;
  height: 35px;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 300;
  color: #8d8d8d;
  padding-left: 20px;
}

.copy__link {
  display: flex;
  border: none;
  background-color: white;
  align-items: center;
  height: 35px;
  width: 90px;
  font-size: 18px;
  margin-left: -90px;
  cursor: pointer;
}

/* Card section */

.card__block {
  width: 1070px;
  margin: auto;

  display: flex;
  justify-content: space-between;
}
.card__item {
  margin-top: 135px;
  width: 300px;
  line-height: 21px;
  font-size: 18px;
}

.card__item p {
  width: 80%;
  margin: 70px auto 0;
  text-align: center;
}

/* FAQ section  */
.faq {
  width: 100%;
  height: 532px;
  margin-top: 132px;
  background-color: #fff5f5;
}

.content {
  width: 1055px;
  margin: auto;
  padding-top: 94px;
}

.content h1 {
  font-weight: 400;
  margin-bottom: -20px;
}

.content__item {
  margin-top: 40px;
}
.content p {
  font-size: 20px;
  font-weight: 700;
}

.small__text {
  margin-top: 20px;
  font-size: 16px;
}

/* Footer */

.footer__main {
  padding-left: 175px;
  padding-top: 168px;
  margin-bottom: 70px;
}

.footer__row {
  display: flex;
  flex-wrap: wrap;
}

.footer__item {
  width: 33.3%;
}

.footer__item h4 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #32302e;
  margin-bottom: 20px;
}

.footer__item ul {
  list-style: none;
}

.footer__item ul li:not(:last-child) {
  margin-bottom: 20px;
}

.footer__item ul a {
  color: #32302e;
  text-decoration: none;
  font-weight: 400;
  display: block;
}

.copyright {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__terms {
  display: flex;
  align-items: center;
}
.footer__terms u:not(:first-child) {
  margin-left: 22px;
}
.footer__info {
  margin-left: 40px;
}

.footer__social {
  margin-right: 60px;
  display: flex;
}

.footer__social a {
  text-decoration: none;
  margin-left: 20px;
  color: #23b5af;
  transition: all 0.2s ease 0s;
}

.footer__social a:hover {
  color: #18cac4;
}

.alarm {
  height: 30px;
  margin-top: 10px;
  text-align: center;
  color: #ff0c7d;
}
